.button {
  outline: none;
  border: none;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  &:disabled {
    opacity: 0.4;
  }
}

.ghost {
  color: var(--moderate-blue);

  &:hover {
    text-decoration: underline;
  }
}

.warning {
  color: var(--soft-red);
  transition: all 250ms ease-in-out;

  &:hover {
    background: rgb(100, 6, 6);
    color: white;
    padding: 8px 16px;
    border-radius: 1rem;
  }
}

.primary {
  background-color: var(--moderate-blue);
  color: var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;

  // &:hover {
  //   opacity: 0.4;
  // }
}
